@import '/styles/theme/breakpoints';

.main {
  min-height: 100dvh;
  overflow-x: hidden;
}

.mobFlashNewsWrapper {
  margin: 12px 0;
  padding: 0 8px;
  width: 100%;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.gptAdM3Wrapper {
  margin-bottom: 40px;
}
