@import '/styles/theme/breakpoints';

.main {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;

  @include media-breakpoint-up(md) {
    padding-bottom: 48px;
  }

  @include media-breakpoint-up(xl) {
    padding-bottom: 80px;
  }
}
