@import '/styles/theme/breakpoints';
@import '/styles/theme/variable';

.container {
  display: flex;
  flex-direction: column;
  margin: 40px 4px;
  @include media-breakpoint-up(md) {
    max-width: 700px;
    margin: 40px auto;
  }
  @include media-breakpoint-up(xl) {
    max-width: 912px;
    margin: 20px auto;
  }
}

.title {
  color: #036;
  text-align: center;
  font-family: 'Noto Sans CJK TC';
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
  @include media-breakpoint-up(xl) {
    font-size: 20px;
  }
}

.iframe {
  height: 235px;
  overflow: hidden;
}

.more {
  color: #036;
  font-family: 'Noto Sans CJK TC';
  font-size: 16px;
  font-weight: 700;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-align: center;
  margin-top: 16px;
  @include media-breakpoint-up(xl) {
    margin-top: 12px;
  }
}
