@import '/styles/theme/breakpoints';
@import '/styles/theme/variable';

.apiDataArticle {
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 1.75;
  > * + * {
    margin-top: 30px;
  }
}

.brief {
  color: $color-blue;
  font-weight: 500;
}
