@import '/styles/theme/breakpoints';
.article {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 3rem);
  @include media-breakpoint-up(lg) {
    max-width: 600px;
    width: 600px;
  }
  > * + * {
    margin-top: 32px;
  }
}
