@import "/styles/theme/breakpoints";
@import "/styles/theme/variable";

.blockquoteBlock {
  padding-top: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 28.8px;
  display: flex;
  padding: 24px 0;
  @include media-breakpoint-up(md) {
    padding: 15px 0;
  }
  blockquote {
    p {
      padding: 5px 20px;
      color: #014db8;
      @include media-breakpoint-up(md) {
        padding: 5px 32px;
      }
    }
  }
}
.imageContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .imageWrapper {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    vertical-align: middle;
    width: 30px;
    height: 24px;
    margin-right: 8px;
  }
  &.start {
    justify-content: flex-start;
  }
  &.end {
    justify-content: flex-end;
  }
}
