<<<<<<< Updated upstream
@import "/styles/theme/breakpoints";
@import "/styles/theme/variable";

.blockquoteBlock {
  padding-top: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 28.8px;
  display: flex;
  padding: 24px 0;
  @include media-breakpoint-up(md) {
    padding: 15px 0;
  }
  blockquote {
    p {
      padding: 5px 20px;
      color: #014db8;
      @include media-breakpoint-up(md) {
        padding: 5px 32px;
=======
@import '/styles/theme/breakpoints';
@import '/styles/theme/variable';

.blockquoteBlock {
  font-size: 16px;
  font-weight: 400;
  line-height: 28.8px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  blockquote {
    flex: 1;
    p {
      padding: 0 20px;
      color: $color-blue;
      @include media-breakpoint-up(md) {
        padding: 0 32px;
>>>>>>> Stashed changes
      }
    }
  }
}
.imageContainer {
  display: flex;
  flex-direction: column;
<<<<<<< Updated upstream
  flex-grow: 1;
=======
>>>>>>> Stashed changes

  .imageWrapper {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    vertical-align: middle;
    width: 30px;
    height: 24px;
    margin-right: 8px;
  }
  &.start {
    justify-content: flex-start;
<<<<<<< Updated upstream
  }
  &.end {
    justify-content: flex-end;
=======
    @include media-breakpoint-up(md) {
      justify-content: flex-end;
    }
  }
  &.end {
    justify-content: flex-end;
    @include media-breakpoint-up(md) {
      justify-content: flex-start;
    }
>>>>>>> Stashed changes
  }
}
