.orderListBlock {
  list-style: decimal;
  list-style-position: inside;
  padding-left: 2rem;
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 16px;
  font-style: normal;
  line-height: 180%;
}
