@import '/styles/theme/breakpoints';
@import '/styles/theme/variable';
@import '/styles/theme/z-index';

%buttonBase {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: 5px solid $color-blue;
  transform: rotate(45deg);
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  &:active,
  &:focus {
    outline: none;
  }
}

.swiper {
  width: 100%;
  position: relative;
}

.swiperSlide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
}

.swiperContainer {
  position: relative;
}

.slideShowImageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}

.slideShowImage {
  object-fit: contain;
}

.prevArrow,
.nextArrow {
  display: block;
  width: 30px;
  height: 100%;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $Z_INDEX-coverContent;
  outline: none !important;
  &:hover {
    cursor: pointer;
  }
}
.nextArrow {
  left: auto;
  right: 0;
}

.mobNavPrev,
.mobNavNext {
  border-top: 5px solid $color-blue;
  border-right: 5px solid $color-blue;
  transform: rotate(225deg);
  width: 26px;
  height: 26px;
  position: absolute;
  left: 8px;
  top: calc(((100vw - 32px) * 9 / 16) + 4px);
}
.mobNavNext {
  transform: rotate(45deg);
  right: 8px;
  left: auto;
}
.pagination {
  width: 30px;
  height: 30px;
  position: absolute;
  top: calc(((100vw - 32px) * 9 / 16) + 8px);
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 16px;
  display: flex;
  gap: 0.5rem;
  :global(.swiper-pagination-current) {
    color: $color-blue;
    font-weight: 700;
  }
}

.imageDescription {
  margin-top: 60px;
  color: #4a4a4a;
  font-size: 15px;
}
