.textBlock {
  font-size: 16px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: justify;

  // style 和 embed-code-block.module.scss 用來處理超連結的樣式相同
  a {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    color: #004dbc;
    &:hover {
      color: #036;
    }
  }
}
