.audio-player {
    margin-top: 30px;
    background: #d8eaeb;
    font-weight: bold;
    border-radius: 8px;
    color: #004fb8;
    padding: 16px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    .progress-bar-container {
        display: flex;
        align-items: center;
        gap: 12px;
    }
    .play-button {
        background: #013366;
        border: none;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: white;
        padding: 0;
        transition: background-color 0.2s;
        // 移除 button 的預設樣式
        div {
            margin: 0;
        }

        &:hover {
            background: #0052a3;
        }

        svg {
            width: 20px;
            height: 20px;
        }
    }

    .progress-bar {
        flex: 1;
        height: 4px;
        background: #f8fbfb;
        border-radius: 2px;
        cursor: pointer;
        position: relative;

        .progress {
            background: #004db8;
            height: 6px;
            border-radius: 3px;
            transition: transform 0.2s ease;
            transform-origin: left;
        }
    }

    .time {
        font-size: 14px;
        color: #666;
        min-width: 80px;
        text-align: right;
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
        color: #004fb8;
        font-weight: bold;
    }
}
