@import '/styles/theme/breakpoints';
@import '/styles/theme/variable';

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 40px 0 40px;
  width: 100%;
  @include media-breakpoint-up(md) {
    padding: 24px 16px;
    margin: 48px 0 40px;
    flex: 1;
    width: 300px;
  }
  @include media-breakpoint-up(xl) {
    border: none;
    padding: 32px;
    margin: 24px 0 40px;
    width: 384px;
  }
}

.bordered {
  @include media-breakpoint-up(md) {
    padding: 24px;
  }
  @include media-breakpoint-up(xl) {
    border: 1px solid $color-grey-deep;
  }
}

.listTitle {
  width: max-content;
  border-image: linear-gradient(
      to bottom,
      #153047 35%,
      transparent 35%,
      transparent 65%,
      #153047 65%
    )
    5 !important;
  p {
    color: #4a4a4a;
  }
}

.list {
  margin: 16px 0 0 0;
  @include media-breakpoint-up(md) {
    margin: 20px 0 0 0;
  }
}

.item {
  & + & {
    margin: 16px 0 0 0;
    @include media-breakpoint-up(xl) {
      margin: 20px 0 0 0;
    }
  }
}
