$max-width-md: 286px; // v2 改版後 footer 使用
$max-width-xl: 1120px;
$max-width-xxl: 1200px;
$aside-width-md: 284px;
$aside-width-xl: 384px;

$header-max-width-xl: 1000px;
$header-max-width-xxl: 1200px;
$header-max-width-xxxl: 1640px; // 1440px(content) + 2 * 100px (left & right padding)
$header-padding-md: 40px;
$header-padding-xl: 100px;
$footer-max-width: 1568px; // 1440px(content) + 45 px(left padding) + 83 px(right padding)

$story-max-width-md: 688px;
$story-wrapper-max-width-md: 600px;
$story-max-width-xl: 1080px;
$story-hero-image-full-screen: calc(-50vw + 50%);

$color-grey: #e7e7e7;
$color-grey-deep: #979797;
$color-blue: #014db8;
$color-blue-deep: #036;
$color-blue-light: #004ebc;
$color-yellow: #ffcc01;
