@import '/styles/theme/breakpoints';
@import '/styles/theme/variable';

.briefWrapper {
  display: block;
  max-width: 100%;
  margin: 30px 0 0;
  padding: 24px 10px;
  border: 3px solid;
  border-image: linear-gradient(
      to bottom,
      $color-blue 16px,
      white 0,
      white calc(100% - 16px),
      $color-blue 80%
    )
    5;
  > * + * {
    margin-top: 30px;
  }
}

.brief {
  color: $color-blue;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  text-align: justify;
  max-width: 100%;
  word-wrap: break-word;
}

.paragraph {
  margin: 0.5rem 0;
  color: $color-blue;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  text-align: justify;
}
