@import '/styles/theme/breakpoints';
@import '/styles/theme/variable';

.heroImageWrapper {
  width: 100vw;
  max-height: 100vh;
  margin-left: $story-hero-image-full-screen;
  margin-bottom: 30px;
  @include media-breakpoint-up(md) {
    max-width: 600px;
    margin-left: 0;
  }
  @include media-breakpoint-up(xxl) {
    margin: unset;
    width: 100%;
  }
  figure {
    max-width: 100%;
    img {
      object-fit: contain;
    }
    figcaption {
      color: #000;
      font-size: 14px;
      line-height: 1.57;
      padding: 10px 20px 0;
      display: block;
      @include media-breakpoint-up(md) {
        padding: 7px 0 0;
        max-width: 600px;
        margin: 0 auto;
      }
    }
  }
}
