@import '/styles/theme/breakpoints';

.aside {
  display: flex;
  flex-direction: column;
  background-color: unset;
  height: fit-content;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    width: 100%;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 16px;
  }
  @include media-breakpoint-up(xl) {
    flex-direction: column;
    width: 384px;
    padding: 0;
    background-color: #f4f5f6;
    position: sticky;
    bottom: 20px;
    align-self: flex-end;
    margin-top: auto;
  }

  .asideWrapper {
    margin: 0 auto;
    @include media-breakpoint-up(md) {
      display: flex;
      flex-direction: flex;
      padding-top: 24px;
    }
    @include media-breakpoint-up(xl) {
      display: flex;
      flex-direction: column;
      padding-top: 24px;
    }
  }
}

.microAd {
  @include media-breakpoint-up(md) {
    margin-bottom: 48px;
  }
  @include media-breakpoint-up(xl) {
    padding: 0 24px;
  }
}

.asideItem {
  @include media-breakpoint-up(md) {
    width: calc(50% - 8px);
  }
  @include media-breakpoint-up(xl) {
    width: inherit;
  }
}

.compassFitHeading {
  color: #014db8;
  @include media-breakpoint-up(xl) {
    padding-left: 24px;
  }
}
