@import '/styles/theme/breakpoints';
@import '/styles/theme/variable';

.heroSwiper {
  --swiper-pagination-bullet-width: 12px;
  --swiper-pagination-bullet-height: 12px;
  --swiper-pagination-bullet-inactive-color: #{$color-yellow};
  --swiper-pagination-color: #{$color-grey};

  :global(.swiper-button-prev:after),
  :global(.swiper-button-next:after) {
    display: none;
  }

  :global(.swiper-button-prev:before) {
    content: '';
    border: solid #f4f5f6df;
    border-width: 0 2px 2px 0;
    display: none;
    padding: 5px;
    transform: rotate(135deg);

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  :global(.swiper-button-next:before) {
    content: '';
    border: solid #f4f5f6df;
    border-width: 0 2px 2px 0;
    display: none;
    padding: 5px;
    transform: rotate(-45deg);

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  :global(.swiper-button-next:hover:before),
  :global(.swiper-button-prev:hover:before) {
    border-color: #f4f5f6;
  }
}
