@import '/styles/theme/z-index';

$CARD_WIDTH: 124px;

.wrapper {
  position: fixed;
  top: 50%;
  right: 20px;
  z-index: $Z_INDEX-promoteTopic;
  width: $CARD_WIDTH;
  transform: translateY(-50%);

  :global(.swiper) {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #004dbc;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  }

  :global(.swiper-pagination) {
    position: absolute;
    bottom: 10px !important;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin-top: 0;
  }

  :global(.swiper-pagination-bullet) {
    display: inline-block;
    width: 6px;
    height: 6px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    opacity: 1;
  }

  :global(.swiper-pagination-bullet-active) {
    cursor: default;
    background-color: #d9d9d9;
  }
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  z-index: $Z_INDEX-promoteTopic + 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  color: #fff;
  line-height: 0;
  cursor: pointer;
  background-color: #153047;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transform: translate(50%, -50%);

  svg {
    width: 24px;
    height: 24px;
  }
}
